#header{
	border-bottom: 1px solid rgb(255, 120, 0);
	position: fixed;
	top: 0;
	width: 100%;
	background: black;
	position: fixed;
}

#nav ul{
	margin: 0;
	padding: 0;
	bottom: 0;

}

#nav{
	display:inline-block;
	position: absolute;
	bottom: 0;
	float: left;

}

#logo {
	/*display: inline-block;*/
	margin: 0 auto;
	width: 33%;
}



#nav li{
	list-style: none;
	display: inline;
	float: left;
	padding: .5em;
}

#nav a:link, a:visited{
	text-decoration: none;
	color: inherit;
}

#nav a:hover {
	color: #6F6D6D
}

#nav ul li#iamhere{
	color: rgb(255, 120, 0);
	font-weight: bold;
}

#logo img{
	width: 100%;
}

#menu{
	display: inline-block;
	margin: 0 2em;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

#menu li{
	list-style: none;
	float: right;
}