#header{
	border-bottom: 1px solid rgb(255, 120, 0);
}

#header div{
	display: inline-block;
	width: 32%;
}

#nav ul{
	margin: 0;
	padding: 0;

}

#nav li{
	list-style: none;
	display: inline;
	float: left;
	padding: .5em;
}

#nav a:link, a:visited{
	text-decoration: none;
	color: inherit;
}

#nav a:hover {
	color: #6F6D6D
}

#nav ul li#iamhere{
	color: rgb(255, 120, 0);
	font-weight: bold;
}

#logo img{
	width: 100%;
}

#menu li{
	list-style: none;
	float: right;
}