body {
	font-family: "Cantarell", verdana, sans-serif;
	/*background-image: url(../images/wing.png);*/
	background-image: url(../images/background.jpg);
	background-size: cover;

}

#content {
	font-size: 100%;
}

img.profile {
	height: 100px;
	width: 100px;
	float: right;
}