body {
	font-family: "Cantarell", verdana, sans-serif;
	/*background-image: url(../images/wing.png);*/
	background-image: url(../images/background.jpg);
	background-size: cover;
	color: white;
	background-color: rgb(1,58,217);

}

#content {
	font-size: 100%;
	color: white;
}

